<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  margin-left:85%
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}


</style>
</head>
<body>
<h2 style="text-align:center;font-size: x-large;font-weight:bold;padding-top:15;">Hello <%= username %> !</h2>
<h3 style="text-align:center;font-size: x-large;font-weight:bolder;">Welcome to Online Voting Platform</h3>
<ul style="font-size: large;font-weight:bold;">
 
  <li><a href="/signout">Sign Out</a></li>
  
  
</ul>

</body>
</html>


